*{
    margin: 0;
    padding: 0;
}
.msgc{
    display: none;
}
body{
    background-color: #d2691e;
    text-align: center;
}
.container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 90px;
    width: 250px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    height: 70px;
    width: 70px;
    border: 0;
    border-radius: 20px;
    font-size: 24px;
    color: red;
    background-color: white;
    
}
.reset{
    background-color: black;
    color: white;
    border-radius: 10px;
}
.new{
    background-color: black;
    color: white;
    border-radius: 10px;
}